*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.show-modal{
    color: chocolate;
    border: none;
    padding: 1rem 2rem;
    margin: 2rem;
    border-radius: 1rem;
    background-color: beige;   
    cursor: pointer; 
}

body{
    background-color: aqua;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.normal{
    position: absolute;
    top: 70%;
    width: auto;
    margin: 2rem;
    border: none;
    background-color: bisque;
    height: 7rem;
}

.close-modal{
    height: 2rem;
    width: 2.4rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    /* display: flex; */
    /* position: fixed; */
    display:flex;
    position: absolute;
    /* top: 1rem; */
    right: -1rem;

}
.hidden{
    display: none;
}

.space{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    width: 100%;
    height: 100%; 
    backdrop-filter: blur(3px);
    z-index: 5; 
}

